input, textarea {
           line-height: 1.25;
           width: calc( 100% );
           height: 1.8rem;
           font-size: 1.15rem;
           border: 1px solid grey;
           margin-bottom: 1rem;
       }
       .make_store, .view_store, .store_meta {
           margin-top: 1rem;
       }
       .meta_wrapper {
           overflow: hidden;
       }
       .profile_label {
           margin-bottom: 0.5rem;
       }
       .nostr_profile {
           color: black;
           display: inline-block;
           padding: 0.5rem;
           border: 1px solid black;
           border-radius: 1rem;
           margin-bottom: 1rem;
           text-decoration: none;
       }
       .nostr_profile .pic {
           display: inline-block;
           margin-right: 0.5rem;
           width: 3rem;
           height: 3rem;
           border: 1px solid black;
           border-radius: 50%;
           vertical-align: middle;
           background-size: cover;
           background-position: center center;
       }
       .nostr_profile .nym {
           display: inline;
           vertical-align: middle;
       }
       .product {
           border: 1px solid black;
           border-radius: 1rem;
           padding: 1rem;
           margin-bottom: 1rem;
       }
       .product input, .product select, .product textarea {
           width: calc( 50% - 0.2rem );
           margin-left: .2rem;
           margin-bottom: 1rem;
       }
       .product .desc {
           width: calc( 100% - .2rem );
           height: 5rem;
       }
       .plus_and_minus {
           margin-left: .2rem;
       }
       .view_store, .blank_view {
           display: none;
       }
       .minicart {
           padding: 0.5rem;
           background-color: tan;
           text-align: right;
           margin-bottom: 1rem;
       }
       .black-bg {
           display: none;
           width: 100%;
           position: fixed;
           top: 0;
           left: 0;
           background-color: black;
           opacity: .5;
           width: 100vw;
           height: 100vh;
       }
       .modal {
           display: none;
           position: fixed;
           box-sizing: border-box;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           width: 100%;
           max-width: 560px;
           background-color: white;
           border-radius: 1rem;
           padding: 20px;
           color: black;
           text-align: center;
           word-wrap: break-word;
       }
       .payment_box {
           max-width: 400px;
           border: 1px solid black;
           border-radius: 1rem;
           padding: 1rem;
           text-align: center;
           word-wrap: break-word;
       }
       .qr_code {
           width: 100%;
       }
       .ln_box {
           display: none;
       }
       .title {
           display: none;
           align-items: center;
           justify-content: space-between;
       }
       .order {
           display: flex;
           justify-content: space-between;
           text-align: left;
       }
       .public_link, .connect_nostr {
           display: none;
       }
       .store_name {
           margin-top: 1rem;
       }
       .order_box {
           width: 100%;
       }
       .delivery_info {
           max-width: 35ch;
           word-wrap: break-word;
       }
       .toast {
           box-sizing: border-box;
           opacity: 0; /* Hidden by default. Visible on click */
           width: 250px; /* Set a default minimum width */
           margin-left: -125px; /* Divide value of min-width by 2 */
           background-color: #02de02; /* Blue background color */
           color: white; /* White text color */
           text-align: center; /* Centered text */
           border-radius: 0.2rem; /* Rounded borders */
           padding: 0.75rem; /* Padding */
           position: fixed; /* Sit on top of the screen */
           z-index: 1; /* Add a z-index if needed */
           left: 50%; /* Center the toast */
           bottom: 0rem; /* 30px from the bottom */
           transition: opacity 0.5s, bottom 0.5s;
       }
       .dropper {
           transition: transform 0.3s ease;
       }
       .products_wrapper {
           margin-top: 1.5rem;
       }
       .attestation_text {
           white-space: pre-wrap;
           background-color: tan;
           padding: 1rem;
       }
       .tutorial_video_wrapper {
           position: relative;
           width: 95%;
           height: 0;
           margin: auto;
           padding-bottom: 56.25%;
       }
       .tutorial_video {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
       }

       @media screen and (max-width: 600px) {
           .product input, .product select, .product textarea {
               width: calc( 100% );
           }
           .product .desc {
               width: calc( 100% );
           }
           .product button {
               width: calc( 100% );
               margin-bottom: 1rem;
           }
           .order {
               flex-wrap: wrap;
           }
           .payment_info {
               border-top: 1px solid black;
               padding-top: 1rem;
               margin-top: 1rem;
           }
           .plus_and_minus {
               margin-left: 0;
           }
           .modal {
               max-width: 90%;
           }
       }
